
<% if current_user %>
  <h2>Hey, <%= current_user.first_name %> !  Welcome back!</h2>
<% else %>
  <div class="page-header">
    <h1>Welcome to LibbyLibby!<small> LibbyLibby is a simple site for listing and trading books.  Simply add some books, complete your shipping info, and browse the site to find books you like.  If you like a book, suggest a trade; others can then trade for a book from your list or reject the trade.  If a trade is agreed on, ship the selected title to the other person in a timely fashion via USPS media mail --- usually $3-5 --- and they'll do the same for you (unless they're bad neighbors!). And if good will doesn't prevail --- you can rate folks based on how things go!<br />  Happy reading, happy trading!</small></h1>
  </div> 
<% end %> 




