
  <div class="container">
    <div class="jumbotron">
    <h2>Welcome to libbylibby!</h2>
    <p> Libbylibby is a site for listing and trading books</p> <ol><li>Sign up and complete your shipping info</li><li>Add some books</li><li>Browse the site to find books you like</li></ol>
   <p>If you like a book</p><ol><li> Suggest a trade</li><li>Others can then trade for a book from your list or reject the trade</li>
    <li>If you both agree to trade, both of you ship your requested book</li>
    <li>Rate the shipper</li><br />
    <h3>Happy reading, happy trading!</h3>
    </div>
  </div>
