
    <h1>Create a Book</h1>
<i>All fields but 'title' and 'condition' are optional, but the more fields added, the better the chance of trading a book</i><br /><br />


  <div class="centerbox">
    <div class="field">
      <label for="book_title">Title</label><br />
      <input size="50" type="text" name="book[title]" id="book_title" />
    </div>  

    <div class="field">
      <label for="book_author_last_name">Author last name</label><br />
      <input type="text" name="book[author_last_name]" id="book_author_last_name" />
    </div>

    <div class="field">
      <label for="book_author_first_name">Author first name</label><br />
      <input type="text" name="book[author_first_name]" id="book_author_first_name" />
    </div>

    <div class="field">
      <label for="book_ISBN">Isbn</label><br />
      <input type="text" name="book[isbn]" id="book_isbn" />
    </div>

    <div class="radio_field">
      <p><strong>Condition</strong></p>
      <label for="book_condition_like_new">Like New</label>
      <input type="radio" value="Like New" name="book[condition]" id="book_condition_like_new" /><br />
      <label for="book_condition_good">Good</label>
      <input type="radio" value="Good" name="book[condition]" id="book_condition_good" /><br />
      <label for="book_condition_fair">Fair</label>
      <input type="radio" value="Fair" name="book[condition]" id="book_condition_fair" /><br />
    </div>

    <div class="text_area">
      <label for="book_description">Description</label><br />
      <textarea name="book[description]" id="book_description" cols="50">
      </textarea>
    </div>

    <div class="checkboxes">
    <b>Genre(s): </b><input type="hidden" name="book[genre_ids][]" value="" /><input type="checkbox" value="1" name="book[genre_ids][]" id="book_genre_ids_1" /><label for="book_genre_ids_1">Literature</label><input type="checkbox" value="2" name="book[genre_ids][]" id="book_genre_ids_2" /><label for="book_genre_ids_2">History</label><input type="checkbox" value="3" name="book[genre_ids][]" id="book_genre_ids_3" /><label for="book_genre_ids_3">Religion</label><input type="checkbox" value="4" name="book[genre_ids][]" id="book_genre_ids_4" /><label for="book_genre_ids_4">Science</label><input type="checkbox" value="5" name="book[genre_ids][]" id="book_genre_ids_5" /><label for="book_genre_ids_5">Appearance</label><input type="checkbox" value="6" name="book[genre_ids][]" id="book_genre_ids_6" /><label for="book_genre_ids_6">Cooking</label><input type="checkbox" value="7" name="book[genre_ids][]" id="book_genre_ids_7" /><label for="book_genre_ids_7">Travel</label><input type="checkbox" value="8" name="book[genre_ids][]" id="book_genre_ids_8" /><label for="book_genre_ids_8">Romance</label><input type="checkbox" value="9" name="book[genre_ids][]" id="book_genre_ids_9" /><label for="book_genre_ids_9">Art</label><input type="checkbox" value="10" name="book[genre_ids][]" id="book_genre_ids_10" /><label for="book_genre_ids_10">Health</label><input type="checkbox" value="11" name="book[genre_ids][]" id="book_genre_ids_11" /><label for="book_genre_ids_11">Social Science</label><input type="checkbox" value="12" name="book[genre_ids][]" id="book_genre_ids_12" /><label for="book_genre_ids_12">Self-Help</label><input type="checkbox" value="13" name="book[genre_ids][]" id="book_genre_ids_13" /><label for="book_genre_ids_13">Genre ids 13</label>
    </div>

    <div class="text_area">
      Add a Genre:
      <input type="text" name="book[genres_attributes][0][name]" id="book_genres_attributes_0_name" />
    </div>
  </div>
  <br />



  <div class="submit">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book" /><br />
  </div>
  





