  <div class="boxframe">
  <h2>Edit Shipping Info</h2>
  <div class="remember">
    Remember, if any of the fields below are blank, you must update them to add or trade books
  </div><br>
  <form class="edit_user" id="edit_user_5" >
  <div class="field">
    <label for="user_real_name">Real name</label><br>
    <input type="text" value="Luke" name="user[real_name]" id="user_real_name" />
  </div>
  <div class="field">
    <label for="user_street">Street</label><br>
    <input type="text" value="13 Elm Street" name="user[street]" id="user_street" />
  </div>
  <div class="field">
    <label for="user_city">City</label><br>
    <input type="text" value="Nowhere" name="user[city]" id="user_city" />
  </div>
  <div class="field">
    <label for="user_state">State</label><br>
    <input type="text" value="FL" name="user[state]" id="user_state" />
  </div>
  <div class="field">
    <label for="user_zipcode">Zipcode</label><br>
    <input type="text" value="33432" name="user[zipcode]" id="user_zipcode" /><br>
  </div>
  <div class="dropdown">
    <label for="user_role">Role</label><br>
    <select name="user[role]" id="user_role"><option selected="selected" value="reader">Reader</option>
<option value="mod">Mod</option>
<option value="admin">Admin</option></select>
  </div><br>
  <div class="actions">
    <input type="submit" name="commit" value="Update Info" data-disable-with="Update Info" />
  </div></form>
</div>



