
<!DOCTYPE html>
<html>
  <head>
    <title>LibbyLibby</title>
  <link rel="stylesheet" media="all" href="/assets/application-d142dd9ec7bb50623885c231a326cfaa3cd325d604641f39939b80e9aaba765c.css" />
  <script src="/assets/application-905663dc98c23003ee7b7852292574faf08b3bf250619fc514e2d13a1853e355.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="SlyHWS5SxpRatWfy7Zwg1+d5oJVg0ZsjNs/WoeIWReFzlF2OMhQrLZrY81y57d4GqC8JVyz7AW3S1xhp2AnTzg==" />
  

        <div id="container">
                <img id="banner-img" <img src="/assets/banner1-76e2d4567dbd8430e4c61bac2e29c85821365b43f59cd68e4c1bcd21332ac403.png" alt="Banner1" />
        </div>



    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="u13nhLya4fJgMSik3JG0CgkFUPmKvMglA3rr9m+LpumClT1ToNwMS6BcvAqI4ErbRlP5O8aWUmvnYiU+VZQwxg==" />
    <link rel="stylesheet" media="all" href="/assets/application-d142dd9ec7bb50623885c231a326cfaa3cd325d604641f39939b80e9aaba765c.css" data-turbolinks-track="reload" />
    <script src="/assets/application-905663dc98c23003ee7b7852292574faf08b3bf250619fc514e2d13a1853e355.js" data-turbolinks-track="reload"></script>
    <p class="notice"></p>
       <p class="alert"></p>

  </head>

  <header>
      <p class="navbar-text pull-right">

    Signed in as <strong>user1@user1.com</strong> |
    <a class="navbar-link" rel="nofollow" data-method="delete" href="/users/sign_out">Sign out</a>
<br>


  <hr>
  <input type="image" class="col-xs-12 col-md-3" id="all-books-btn" <img src="/assets/all-books-btn-535c6a84d7b26999aa78a692c94986ce63dd05969f79bc60e7c289cab9a435b7.png" alt="All books btn" />
  <input type="image" class="col-xs-12 col-md-3" id="my-profile-btn" data-id="4" <img src="/assets/my-profile-btn-c02759be434c44e7d3a6945e460dbb8cb0d9c513c92b381300b36e737fc87e07.png" alt="My profile btn" />
  <input type="image" class="col-xs-12 col-md-3"id="my-books-btn" data-id="4" <img src="/assets/my-books-btn-803a565e22779d157ff15cd6e0fb755fa9534af027a375a44065043dccc7a947.png" alt="My books btn" />
  <input type="image" class="col-xs-12 col-md-3"id="my-trades-btn" data-id="4" <img src="/assets/my-trades-btn-e5601d3bda5a3f460a727a541f00f8364ae4f2b5b07dc022d414926794fd7da9.png" alt="My trades btn" />
  
    <nav class="logged_in_nav">
        <ul>
          <li> <a href="/users/4">See My Profile</a> </li>
          <li> <a href="/books">Browse All Books</a> </li>
          <li> <a href="/users/4/books">See My Books</a> </li>
          <li> <a href="/trades">See My Trades</a> </li>
      </ul>
    </nav> 
</header>
<hr>





  <body>
    <h1>Edit a Book</h1>
<i>All fields but 'title' and 'condition' are optional, but the more fields added, the better the chance of trading a book</i><br /><br />

<form class="edit_book" id="edit_book_61" action="/users/4/books/61" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="Mc8PMEN6fPoEZW4gYRvyq4OEP6Oqui9+kYsvIeU4HapFjDI04pcFhGI5NBsxCh3NltLi95pdL4+eYwjD4FEEWg==" />
  <div class="centerbox">
    <div class="field">
      <label for="book_title">Title</label><br />
      <input size="50" type="text" value="Against Empathy" name="book[title]" id="book_title" />
    </div>  

    <div class="field">
      <label for="book_author_last_name">Author last name</label><br />
      <input type="text" value="Bloom" name="book[author_last_name]" id="book_author_last_name" />
    </div>

    <div class="field">
      <label for="book_author_first_name">Author first name</label><br />
      <input type="text" value="" name="book[author_first_name]" id="book_author_first_name" />
    </div>

    <div class="field">
      <label for="book_ISBN">Isbn</label><br />
      <input type="text" value="9780679756453" name="book[isbn]" id="book_isbn" />
    </div>

    <div class="radio_field">
      <p><strong>Condition</strong></p>
      <label for="book_condition_like_new">Like New</label>
      <input type="radio" value="Like New" checked="checked" name="book[condition]" id="book_condition_like_new" /><br />
      <label for="book_condition_good">Good</label>
      <input type="radio" value="Good" name="book[condition]" id="book_condition_good" /><br />
      <label for="book_condition_fair">Fair</label>
      <input type="radio" value="Fair" name="book[condition]" id="book_condition_fair" /><br />
    </div>

    <div class="text_area">
      <label for="book_description">Description</label><br />
      <textarea name="book[description]" id="book_description" cols="50">
It&#39;s great. People tell me.</textarea>
    </div>

    <div class="checkboxes">
    <b>Genre(s): </b><input type="hidden" name="book[genre_ids][]" value="" /><input type="checkbox" value="24" name="book[genre_ids][]" id="book_genre_ids_24" /><label for="book_genre_ids_24">Religion</label><input type="checkbox" value="25" name="book[genre_ids][]" id="book_genre_ids_25" /><label for="book_genre_ids_25">Philosophy</label><input type="checkbox" value="26" name="book[genre_ids][]" id="book_genre_ids_26" /><label for="book_genre_ids_26">Paranormal and the Occult</label><input type="checkbox" value="27" name="book[genre_ids][]" id="book_genre_ids_27" /><label for="book_genre_ids_27">History</label><input type="checkbox" value="28" name="book[genre_ids][]" id="book_genre_ids_28" /><label for="book_genre_ids_28">Math, Science and Technology</label><input type="checkbox" value="29" name="book[genre_ids][]" id="book_genre_ids_29" /><label for="book_genre_ids_29">Fiction</label><input type="checkbox" value="30" name="book[genre_ids][]" id="book_genre_ids_30" /><label for="book_genre_ids_30">Literary Criticism</label><input type="checkbox" value="31" name="book[genre_ids][]" id="book_genre_ids_31" /><label for="book_genre_ids_31">Foreign Language</label><input type="checkbox" value="32" name="book[genre_ids][]" id="book_genre_ids_32" /><label for="book_genre_ids_32">Children&#39;s</label><input type="checkbox" value="33" name="book[genre_ids][]" id="book_genre_ids_33" /><label for="book_genre_ids_33">Young Adult</label><input type="checkbox" value="34" name="book[genre_ids][]" id="book_genre_ids_34" /><label for="book_genre_ids_34">Sci-Fi/Fantasy</label><input type="checkbox" value="35" name="book[genre_ids][]" id="book_genre_ids_35" /><label for="book_genre_ids_35">Reference</label><input type="checkbox" value="36" name="book[genre_ids][]" id="book_genre_ids_36" /><label for="book_genre_ids_36">Social Science</label><input type="checkbox" value="37" name="book[genre_ids][]" id="book_genre_ids_37" /><label for="book_genre_ids_37">Art and Design</label><input type="checkbox" value="38" name="book[genre_ids][]" id="book_genre_ids_38" /><label for="book_genre_ids_38">Fashion and Appearance</label><input type="checkbox" value="39" name="book[genre_ids][]" id="book_genre_ids_39" /><label for="book_genre_ids_39">Psychology and Self-Help</label><input type="checkbox" value="40" name="book[genre_ids][]" id="book_genre_ids_40" /><label for="book_genre_ids_40">Social Science</label><input type="checkbox" value="41" name="book[genre_ids][]" id="book_genre_ids_41" /><label for="book_genre_ids_41">Horror</label><input type="checkbox" value="42" name="book[genre_ids][]" id="book_genre_ids_42" /><label for="book_genre_ids_42">Romance</label><input type="checkbox" value="43" name="book[genre_ids][]" id="book_genre_ids_43" /><label for="book_genre_ids_43">Music</label><input type="checkbox" value="44" name="book[genre_ids][]" id="book_genre_ids_44" /><label for="book_genre_ids_44">Biography and Memoir</label><input type="checkbox" value="45" name="book[genre_ids][]" id="book_genre_ids_45" /><label for="book_genre_ids_45">Travel and Transportation</label><input type="checkbox" value="46" name="book[genre_ids][]" id="book_genre_ids_46" /><label for="book_genre_ids_46">Ethnic Studies</label><input type="checkbox" value="47" name="book[genre_ids][]" id="book_genre_ids_47" /><label for="book_genre_ids_47">Nature and the Environment</label><input type="checkbox" value="48" name="book[genre_ids][]" id="book_genre_ids_48" /><label for="book_genre_ids_48">Gender Studies</label><input type="checkbox" value="49" name="book[genre_ids][]" id="book_genre_ids_49" /><label for="book_genre_ids_49">Legal Studies</label><input type="checkbox" value="50" name="book[genre_ids][]" id="book_genre_ids_50" /><label for="book_genre_ids_50">Sports, Crafts and Hobbies</label><input type="checkbox" value="51" name="book[genre_ids][]" id="book_genre_ids_51" /><label for="book_genre_ids_51">Health and Medicine</label><input type="checkbox" value="52" name="book[genre_ids][]" id="book_genre_ids_52" /><label for="book_genre_ids_52">TV, Media and Film</label>
    </div>
  </div>
  <br />

  <div class="submit">
    <input type="submit" name="commit" value="Update Book" data-disable-with="Update Book" /><br />
  </div>
  
</form>



  </body>
  <footer>
   
<p><form class="button_to" method="get" action="/users/edit.4"><input class="btn btn-primary" type="submit" value="Change My Password" /></form></p>

<p><form class="button_to" method="get" action="/users/4/edit"><input class="btn btn-primary" type="submit" value="Edit My Profile" /></form></p>

<p><form class="button_to" method="post" action="/users?as=accounts"><input type="hidden" name="_method" value="delete" /><input class="btn btn-primary" data-confirm="Are you sure?" type="submit" value="Delete My Account" /><input type="hidden" name="authenticity_token" value="hgQn+Vf+x54Z5hTjC/8qOWz9O37gYrUKP+xNtFmY297HchHMzGOAqe1fUA9NHbAoYz+udi9KQ8vDc9qSJulgwQ==" /></form></p>

    <div class='little-text'>
    </br >
    <hr>
      Images Provided by <a href="http://www.openlibrary.org">The Open Library Project</a> 
    </div>
  </footer>
</html>
