
<div class="boxframe">
  <h2>Edit Shipping Info</h2>
  <p><i>Remember, if any of the fields below are blank, you must update them to add or trade books</i></p>

    <div class="field">
      <label for="user_real_name">Real name</label><br>
      <input id="user_real_name" name="user[real_name]" placeholder="{{user.real_name}}" type="text">
    </div>
    <div class="field">
      <label for="user_street">Street</label><br>
      <input id="user_street" name="user[street]" type="text">
    </div>
    <div class="field">
      <label for="user_city">City</label><br>
      <input id="user_city" name="user[city]" type="text">
    </div>
    <div class="field">
      <label for="user_state">State</label><br>
      <input id="user_state" name="user[state]" type="text">
    </div>
    <div class="field">
      <label for="user_zipcode">Zipcode</label><br>
      <input id="user_zipcode" name="user[zipcode]" type="text"><br>
    </div>
    <div class="dropdown">
      <label for="user_role">Role</label><br>
      <select id="user_role" name="user[role]">
        <option selected="selected" value="reader">
          Reader
        </option>
        <option value="mod">
          Mod
        </option>
        <option value="admin">
          Admin
        </option>
      </select>
    </div><br>
    <div class="actions">
      <input data-disable-with="Update Info" name="commit" type="submit" value="Update Info">
    </div>
  </form>
  </div>

 