/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
$oxygen: 'Oxygen', sans-serif;

/* Some Style from the Bootstrap Default Theme */

body {
  padding: 10px;
  //background: #FFEEAC;
  font-family: $oxygen;
  font-size: 14px;
  color: #2F4F4F;
}

// btn {
//   cursor: pointer;
// }
input[type='checkbox'] {
  margin-left: 20px;
  margin-right: 5px !important;
}
.field, .text_area, .radio_field, .checkboxes {
  padding-bottom: 20px;
}
.corners1 {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  background: #FF8025;
  padding: 20px;
}
.corners2 {
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 20px;
  background: lightgreen;

  text-align: center;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 300px;
  ;
}
#change-pass-btn, #view-users-btn, #delete-account-btn {
  margin-left: 50px;
  background-color: #FF8C00;
  color: #555555;
}

.lefty, #new-book-btn {
  margin-left: 100px;
  margin-bottom: 20px;
}

.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}
#trades-header {
  text-align: center;
}

.form-title {
  margin-left: 50px;

}
.centerbox {
  background-color: #74cef1;
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#account-buttons {
  padding-left: 50px;
  margin-top: 30px;
}
#new-book-btn {
  margin-left: 50px;
  margin-top: 10px;
}

.click-btn {
  cursor: pointer;
}
#all-books-btn {
  width: 250px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#my-profile-btn {
  width: 250px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#my-books-btn {
  width: 250px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#my-trades-btn {
  width: 250px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.center {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  ;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00BFFF;
  margin: 1em 0;
  padding: 0;
}
p.notice {
  border-radius: 25px;
  color: #00529B;
  background-color: #BDE5F8;
  padding: 10px 0px 10px 20px;
  font-size: 120%;
}
p.alert {
  border-radius: 25px;
  color: white;
  background-color: #FF8025;
  padding: 10px 0px 10px 20px;
  font-size: 120%;
}
.indent {
  margin-left: 30px;
}
img {
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}
#homepage-header {
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}
#input-area {
  margin-left: 50px;
  margin-bottom: 10px;
}
#search-btn-area {
  margin-left: 50px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase>p>.btn {
  margin: 5px 0;
}
.little-text {
  text: 50%;
  text-align: center;
}
.section-title {
  margin-left: 50px;
}
.section-info {
  margin-left: 80px;
}
#banner-img {
  width: 90%;
  height: auto;
  margin-left: 4%;
  margin-right: 0;
  margin-bottom: 20px;
}
img[src=""] {
  display: none;
}
.remember {
  font-style: italic;
  color: orange;
}
.centered {
  width: 100%;
  text-align: center;
  height: auto;
  margin: 0 auto;
}
.address {
  margin-left: 10%;
  font-size: 125%;
  font-weight: bold;
}
.rating {
  margin-left: 10%;
}
p .small {
  line-height: 50%;
}
#load-more-books-btn {
  display: inline-block;
}
.boxframe {
  background-color: Azure;
  border: 10px solid #74cef1;
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: darkblue;
}
.boxframe-title {
  text: 200%;
}
.boxframe-subj {
  font-weight: 700;
  margin-left: 10px;
}
.boxframe-desc {
  font-weight: normal;
  margin-left: 20px;
}
