/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */

body {
  padding-top: 70px;
  padding-bottom: 50px;
  padding: 50px;
}

input[type='checkbox'] {
   margin-left: 20px;
}

.field, .text_area, .radio_field, .checkboxes {
  padding-bottom: 20px;
}

.centerbox {
  background-color: #74cef1;
  padding: 20px;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #008B8B;
    margin: 1em 0;
    padding: 0; 
}

img {
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9); 
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.little-text {
  text: 50%;
  text-align: center;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
.container {
    width: 100%;
    margin: 0 auto;
}
#banner-img {
    max-width: 100%;
    margin: 10px 0 20px 0;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

img[src=""] {
    display: none;
}

.boxframe {
  background-color: Azure;
  border: 10px solid #74cef1; 
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.boxframe-title {
    text: 200%;
}

.boxframe-subj {
    font-weight: bold;
    margin-left: 10px;  
}


.boxframe-desc {
    font-weight: normal;
    margin-left: 20px; 
}




