// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
.book-listing {
  padding: 10px 50px 100px 30px;
  color: DarkSlateGray;
  background-color: #73CEF1;
  font-family: "Arial", sans-serif;
  border-color: SlateGray;
  border: 5px;
}

.book-listing img {
  margin: 30px 10px 10px 20px;
}

*/