<nav class="">
    <ul>
        <li> <%= link_to "Browse All Books", books_path %> </li>
        <li> <%= link_to "See My Books", user_books_path %> </li>
        <li> <%= link_to "See My Trades", user_books_path %> </li>
        <li> <%= link_to "See My Messages", user_books__path %> </li>

    </ul>
</nav>